.header {
    border-bottom: 1px solid #ECECEC;

&__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

&__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media screen and (min-width: 768px) {
        width: 500px;
    }

    @media screen and (min-width: 1200px){
    width: 519px; 
    }
}
}

.header__mobile-button {
    display: block;
    width: 40px;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    
    border: 0;
    fill: $secondaryTextColor;
    background-color: transparent;
    transition: fill $mainDuration $mainTimingFunction;

    @media screen and (min-width: 768px) {
        display: none;
    }

&:hover,
&:focus {
    fill: $accentColor;
}
}