.header {
    border-bottom: 1px solid #ECECEC;

&__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

&__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 519px;
}
}